
build/
Backup/
_UpgradeReport_Files/

*.shfbproj
*.dll
*.suo
*.xml
*.XML
*.pidb
*.user
*.test-cache
*.userprefs
*.usertasks
*.*~
*~
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

ubiety.shfbproj_Dieter
ubiety-xmpp-cert.crt
ubiety-xmpp-priv.key
ubiety-xmpp.key
ubiety.sln.docstates