<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Heijden.Dns" version="1.0.0" targetFramework="net4" userInstalled="true" />
  <package id="libidn" version="1.29.1" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" userInstalled="true" />
  <package id="Serilog" version="1.5.6" targetFramework="net45" userInstalled="true" />
  <package id="Serilog.Sinks.Seq" version="1.5.14" targetFramework="net45" userInstalled="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net4" userInstalled="true" />
</packages>